# Windows Batch-Dateien muessen immer CRLF haben
*.bat text eol=crlf
*.cmd text eol=crlf

# PowerShell
*.ps1 text eol=crlf

# Linux Shell-Scripts muessen LF haben (werden in Clonezilla ausgefuehrt)
custom-ocs* text eol=lf
